html, body {
  font-family: Helvetica, Arial, sans-serif;
  color: #555555;
  background: #FFFFFF;
}

section {
  margin: 150px;
}

div {
  margin-top: 10px;
}

#status::after {
  content: 'ONLINE';
  color: limegreen;
  font-weight: bold;
  margin-left: 5px;
}